/*
Aqui eu estou customizando a nossa lista para deixar mais agradavel
*/
#lista {

    color: white;
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
    list-style-type: none;
    margin: 100px;
    padding-left: 50px;
}

/* Adicionando uma margem para dar espaço e deixando o cursor com pointer ao passar o mouse por cima */
input {
    cursor: pointer;
    margin: 10px;
}

/*
Button é o X,
input é a checkbox!
*/

/*
Aqui eu estou customizando o nosso botão X para que fique mais agradavel
*/
button {
    cursor: pointer;
    background-color: blueviolet;
    color: white;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    border: 1px solid white;
    border-radius: 8px;
    padding-right: 6px;
    padding-left: 6px;
    padding-bottom: 2px;
    cursor: pointer;    
    
}

/*
Colocado um hover para deixar bonito, irá mudar a cor do botão ao deixar o mouse em cima, ao retirar irá voltar a sua cor original
*/
button:hover {
    background-color: rgba(243, 37, 37, 0.985)
}